.chart {
  --para-type: 'bar';
  --para-orientation: 'north';
  --para-padding: 15;
  --para-font-family: 'Helvetica, sans-serif';
  --para-font-weight: '300';
  --para-symbol-stroke-width: 2;
}


.chart .size {
  --para-width: 860;
  --para-height: 360;
}


.chart .title {
  --para-margin: 40;
  --para-font-size: 22;
  --para-align: 'center';
  --para-position: 'top';
}

.axis {
  --para-min-interval: 25;
  --para-datapoint-margin: 3;
}

/* horiz/vert control the visual axis (position, ticks, line) */
.axis .horiz {
  --para-position: 'south';
  --para-label-order: 'westToEast';
}


.axis .vert {
  --para-position: 'west';
  --para-label-order: 'southToNorth';
}


.axis .horiz .title {
  --para-gap: 8;
  --para-font-size: 15;
}


.axis .horiz .line {
  --para-is-draw-axis-line: true;
  --para-is-draw-overhang: true;
  --para-stroke-width: 2;
  --para-stroke-linecap: 'round';
}


.axis .horiz .ticks {
  --para-is-draw-ticks: true;
  --para-padding: 3;
  --para-opacity: 1;
  --para-stroke-width: 2;
  --para-stroke-linecap: 'round';
  --para-length: 10;
  --para-label-format: 'raw';
  --para-step: 1;
}

.axis .horiz .ticks .labels {
  --para-angle: -45;
  --para-offset-gap: 8;
  --para-font-size: 13;
}



.axis .vert .title {
  --para-gap: 8;
  --para-font-size: 15;
}


.axis .vert .line {
  --para-is-draw-axis-line: true;
  --para-is-draw-overhang: true;
  --para-stroke-width: 2;
  --para-stroke-linecap: 'round';
}


.axis .vert .ticks {
  --para-is-draw-ticks: true;
  --para-padding: 3;
  --para-opacity: 1;
  --para-stroke-width: 2;
  --para-stroke-linecap: 'round';
  --para-length: 10;
  --para-label-format: 'raw';
  --para-step: 1;
}

.axis .vert .ticks .labels {
  --para-angle: 0;
  --para-offset-gap: 0;
  --para-font-size: 13;
}

/* x/y control data-range settings for each data axis */
.axis .x {
  --para-min-value: 'unset';
  --para-max-value: 'unset';
  --para-interval: 'unset';
}

.axis .y {
  --para-min-value: 'unset';
  --para-max-value: 'unset';
  --para-interval: 'unset';
}


.legend {
  --para-is-draw-legend: true;
  --para-padding: 10;
  --para-pair-gap: 10;
}


.type .bar {
  --para-bar-width: 0;
  --para-cluster-gap: 0;
  --para-is-abbrev-series: true;
  --para-bar-gap: 2;
  --para-cluster-label-format: 'raw';
  --para-line-width: 5;
}


.type .line {
  --para-line-width: 5;
  --para-line-width-max: 25;
  --para-base-symbol-size: 10;
  --para-series-label-padding: 5;
  --para-point-label-format: 'raw';
  --para-leader-line-length: 30;
  --para-is-draw-symbols: true;
}

.type .line .selected-point-marker-size {
  --para-width: 20;
  --para-height: 20;
}

.type .scatter {
  --para-point-label-format: 'raw';
  --para-symbol-stroke-width: 2;
}

.type .scatter .selected-point-marker-size {
  --para-width: 20;
  --para-height: 20;
}

.type .pie {
  --para-is-render-center-label: true;
  --para-chunk-label-format: 'raw';
}

.type .pie .label {
  --para-margin: 3;
  --para-font-size: 15;
}

.type .donut {
  --para-is-render-center-label: true;
  --para-chunk-label-format: 'raw';
}

.type .donut .label {
  --para-margin: 3;
  --para-font-size: 15;
}

.type .gauge {
  --para-is-render-center-label: true;
  --para-chunk-label-format: 'raw';
}

.type .gauge .label {
  --para-margin: 3;
  --para-font-size: 15;
}

.type .stepline {
  --para-line-width: 5;
  --para-line-width-max: 25;
  --para-base-symbol-size: 10;
  --para-series-label-padding: 5;
  --para-point-label-format: 'raw';
  --para-leader-line-length: 30;
  --para-is-draw-symbols: false;
  --para-symbol-stroke-width: 2;
}

.type .stepline .selected-point-marker-size {
  --para-width: 20;
  --para-height: 20;
}

.type .lollipop {
  --para-bar-width: 0;
  --para-line-width: 5;
  --para-cluster-gap: 0;
  --para-is-abbrev-series: true;
  --para-bar-gap: 2;
  --para-cluster-label-format: 'raw';
  --para-is-draw-symbols: true;
}


.grid {
  --para-is-draw-horiz-lines: true;
  --para-is-draw-vert-lines: true;
  --para-is-draw-horiz-axis-opposite-line: true;
  --para-is-draw-vert-axis-opposite-line: true;
}


/* config.ui settings */
.ui {
  --para-is-voicing-enabled: false;
  --para-speech-rate: 1;
  --para-is-fullscreen-enabled: false;
  --para-is-low-vision-mode-enabled: false;
}

/* settings.controlPanel settings */
.controlPanel {
  --para-tab-label-style: 'label';
  --para-is-spark-braille-visible: false;
  --para-is-caption-visible: true;
}


/* config.color settings */
.color {
  --para-color-vision-mode: 'normal';
  --para-is-dark-mode-enabled: false;
  --para-contrast-level: 1;
  --para-color-palette: 'diva';
}


.jim {
  --para-x-value-format: 'raw';
}


.dataTable {
  --para-x-value-format: 'raw';
  --para-y-value-format: 'raw';
}


.statusBar {
  --para-value-format: 'raw';
}


/* config.sonification settings */
.sonification {
  --para-is-sonification-enabled: false;
  --para-is-riff-enabled: true;
  --para-is-notification-enabled: true;
  --para-is-arpeggiate-chords: false;
  --para-hertz-lower: 35;
  --para-hertz-upper: 96;
  --para-riff-speed-index: 2;
}


.dev {
  --para-is-debug: false;
}
